* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #000912;
    height: 55px;
}

.pizza-Hub_logo {
    display: flex;
    margin-left: 30px;
    
}

.pizza-Hub_logo p {
    color: white;
    font-weight: 500;
    font-size: 29px;
}

.pizza-Hub_logo h1 {
    color: rgb(233, 137, 34);
    margin-left: 5px;
}

.nav-action {
    margin-left: 500px;
}

.nav-action a {
    color: white;
    margin-left: 60px;
    border-radius: 2px;
}

a:hover {
    border: 0.8px solid rgb(191, 187, 187);
}

.Page-1 {
    background-image: url("pizza_background_image-1.jpg");
    height: 720px;
    background-size: cover;
    display: flex;
}

.page-1_text {
    margin-top: 150px;
}


.page-1_text h3{
    font-size: 80px;
    font-weight: 200;
    margin-top: 20px;
    color: rgb(245, 129, 5);
    margin-left: 90px;
}

.page-1_text p{
    font-size: 50px;
    font-weight: 100;
    margin-left: 280px;
    margin-top: 20px;
}


.page-1_text h2{
    font-size: 70px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 80px;
    
}

.page-1_text h1{
    font-size: 80px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(245, 129, 5);
}

.Page-2 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),url("pizza_background_image-2.jpg");
    background-size: cover;
    background-position: center;
    height: 850px;
    display: flex;
}

.page-2_text h1{
    color: rgb(245, 109, 5);
    margin-left: 700px;
    margin-top: 85px;
    font-size: 50px;
}

.about-1  {
    margin-top: 50px;
}
.page-2_text h2{
    margin-left: 700px;
    font-size: 35px;
}

.about-2  {
    margin-top: 50px;
}

.about-3 {
    display: flex;
    margin-top: 50px;
}

.about-3 h3 {
    font-size: 35px;
    margin-left: 5px;
    color: rgb(245, 129, 5);
}

.about-4 {
    display: flex;
    margin-top: 50px;
}

.about-4 h3 {
    font-size: 35px;
    margin-left: 5px;
    color: rgb(245, 129, 5);
}

.about-5 {
    display: flex;
    margin-top: 50px;
}

.about-5 h3 {
    font-size: 35px;
    margin-left: 5px;
    color: rgb(245, 129, 5);
}

.Page-3 {
    background-image: url("pizza_background_image-4.jpg");
    background-size: cover;
    height: 1000px;
    margin-left: 350px;
    display: flex;
}

.page-3_text  {
    position: relative;
    top: 180px;
    right: 250px;
}

.page-3_text h1{
    color: rgb(245, 129, 5);
    font-size: 40px;
}

.page-3_text p {
    font-size: 25px;
}

.page-3_paragraph_text {
    margin-top: 30px;
}

.piza-name {
    display: flex;
}

.pizza-menu p{
    margin-left: 50px;
}

.pizza-menu {
    margin-top: 60px;
}

.menu-pizza {
    margin-top: 100px;
}

.Page-4 {
    background-image: url("pizza_background_image-3.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    height:700px;
}

.page-4_text {
    margin-top: 90px;
    font-size: 40px;
}

.page-4_text h1 {
    color: rgb(245, 129, 5);
}

