* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: #000912;
    height: 55px;
}

.pizza-Hub_logo {
    display: flex;
    margin-left: 30px;
    
}

.pizza-Hub_logo p {
    color: white;
    font-weight: 500;
    font-size: 29px;
}

.pizza-Hub_logo h1 {
    color: rgb(233, 137, 34);
    margin-left: 5px;
}

.nav-action {
    margin-left: 500px;
}

.nav-action a {
    color: white;
    margin-left: 60px;
    border-radius: 2px;
}

a:hover {
    border: 0.8px solid rgb(191, 187, 187);
}

.Page-1 {
    background-image: url("pizza_background_image-1.jpg");
    height: 720px;
    background-size: cover;
    display: flex;
}

.page-1_text {
    margin-top: 150px;
}


.page-1_text h3{
    font-size: 80px;
    font-weight: 200;
    margin-top: 20px;
    color: rgb(245, 129, 5);
    margin-left: 90px;
}

.page-1_text p{
    font-size: 50px;
    font-weight: 100;
    margin-left: 280px;
    margin-top: 20px;
}


.page-1_text h2{
    font-size: 70px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 80px;
    
}

.page-1_text h1{
    font-size: 80px;
    font-weight: 900;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(245, 129, 5);
}